.frame-header {
  box-sizing: border-box;
  padding: 12px 20px;
  height: 64px;
  background-color: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  position: fixed;
  left: 200px;
  right: 0;
  top: 0;
  z-index: 200;

  .el-button--text {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    &:not(:last-child) {
      margin-right: 10px;
    }

    .iconfont {
      display: inline-block;
      width: 40px;
      height: 40px;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
    }
  }

  .right {
    float: right;

    img,
    span,
    .el-button {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      margin-right: 10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    span {
      margin-right: 30px;
      font-size: 16px;
      line-height: 40px;
      color: #000;
    }
  }
}

@media (min-width: 1000px) {
  .frame-header {
    left: 260px;
  }
}
