.ui-empty {
  padding: 60px 0;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;

  img {
    height: 100px;
  }

  p {
    margin: 20px 0 6px;
    font-size: 14px;
    color: #000;
  }

  strong {
    color: #000;
  }
}
