@import "../../style/mixins.scss";

.form-content {
  margin: 0 auto;
  max-width: 380px;

  h2 {
    margin: 0;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    font-weight: normal;
  }

  .el-form {
    margin-top: 50px;

    .tips {
      display: block;
      margin-top: 10px;
      font-size: 12px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .links {
    @include clearfix();
    margin-top: 44px;

    a {
      font-size: 18px;
      line-height: 24px;
      color: #FFF;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &.right {
        float: right;
      }
    }
  }
  &.register .links {
    margin-top: 18px;
  }

  .el-button--text {
    margin-top: 42px;
    border: none;
    padding: 8px 0;
    font-size: 22px;
    line-height: 30px;
    color: #FFF;
  }
}

@media (max-height: 700px) {
  .form-content {
    h2 {
      font-size: 24px;
      line-height: 32px;
    }

    .el-form {
      margin-top: 20px;
    }
    &.login .el-form {
      margin-top: 30px;
    }

    .links {
      margin-top: 20px;
    }
    &.register .links {
      margin-top: 14px;
    }

    .el-button--text {
      margin-top: 20px;
    }
    &.login .el-button--text {
      margin-top: 30px;
    }
  }
}
