.search-input {
  display: inline-block;
  width: 180px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  position: relative;

  input {
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 14px;
    padding-right: 40px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #000;
    outline: none;
  }

  .iconfont {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}
