@mixin list-clean() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
  }
}
