@import '../../style/mixins.scss';

.page-footer {
  padding: 20px 0;

  .links {
    @include list-clean();
    text-align: center;

    li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 30px;
      }
    }

    a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
