.file-list .toolbar {
  .el-input__inner {
    border: none;
    height: 36px;
    line-height: 36px;
    color: #000;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .el-input__prefix {
    .iconfont {
      font-size: 16px;
      line-height: 36px;
      color: #000;
    }
  }
}
