.file-table {
  width: 100%;
  color: #000;

  thead {
    color: #000;

    th {
      line-height: 32px;
      font-weight: normal;
    }
  }

  tr th,
  tr td {
    padding: 8px 0;
    &:first-of-type {
      text-align: right;
    }
    &:nth-of-type(2) div {
      text-overflow: clip;
    }
    &:last-child {
      .iconfont {
        margin-right: 4px;
        cursor: pointer;
        user-select: none;
      }
    }

    a {
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    span.link {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  tr {
    .actions {
      display: none;
    }
    &:hover .actions {
      display: block;
    }
  }

  .iconfont {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    &.icon-folder-add {
      font-size: 24px;
    }
  }

  &.upload-table {
    tr td {
      &:nth-child(5) {
        text-align: center;
        white-space: pre;
        font-size: 13px;
        line-height: 20px;

        .cell {
          position: relative;
          top: 6px;
        }

        span {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  &.dialog-table {
    tr th,
    tr td {
      &:first-of-type {
        text-align: left;
      }
    }
  }
}
